<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;" />
    <title>Taxi App</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
    <style type="text/css">
        * {
            font-family: 'Open Sans', sans-serif;
            font-weight: 300;
        }
    </style>
</head>

<body style="padding:0; margin:0; background: #f4f4f4;">
    <table style="max-width: 700px; width: 100%; border: 0; margin:20px auto;">
        <tr>
            <td>
                <table style="border: 1px solid #d7d7d7; width: 100%; max-width: 700px; background: white; position:relative ">
                    <tr>
                        <td style="background: #1B557A; height: auto; vertical-align: middle;">
                            <div style=" padding: 10px 15px">
                                <img style="width: 50px; border-radius: 50%;" src="http://taxiapp-web-dashboard.geekydev.com/assets/89065a3406ad3f2a983fd73314781c5f.jpg"
                                    alt="TaxiApp" />
                                <span style="display: inline-block; padding-left: 15px; vertical-align: top; color: #f4f4f4; font-size: 20px;">
                                    <span style="font-size: 12px; text-transform: uppercase; font-weight: 600; padding-top:5px; display: inline-block;">Strap</span>
                                    <br />TaxiApp</span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding:40px 20px 0px 20px;">
                            <h2 style="font-weight: 300; text-align: center;">Hi
                                <%= data.fname %>
                                    <%= data.lname %>, your new password is

                            </h2>
                            <h1 style="text-align: center; font-weight: 600; font-size: 21px; margin:0; color: green;">
                                <%= data.newpass %>
                            </h1>
                            <p style="margin:40px 0 30px 0;font-size: 18px; ">Thanks
                                <br /> TaxiApp Team</p>
                            <h1 style="text-align: center; font-weight: 300; font-size: 50px; margin:0;">

                            </h1>
                        </td>

                    </tr>
                    <tr>
                        <td style="padding-top:40px;">
                            <div style="background: #1B557A; height: 30px; width: 100%; text-align: center; padding-top: 10px">
                                <a href="https://market.nativebase.io/view/react-native-taxi-app-with-backend" style="color:#ddd">Contact Us</a>
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

    </table>
</body>

</html>