<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;" />
    <title>Royal Enfield</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
    <style type="text/css">
        * {
            font-family: 'Open Sans', sans-serif;
            font-weight: 300;
        }
    </style>
</head>

<body style="padding:0; margin:0; background: #f4f4f4;">
    <table style="max-width: 700px; width: 100%; border: 0; margin:20px auto;">
        <tr>
            <td>
                <table style="border: 1px solid #d7d7d7; width: 100%; max-width: 700px; background: white; position:relative ">
                    <tr>
                        <td style="background: rgb(40, 207, 219); height: auto; vertical-align: middle;">
                            <div style=" padding: 10px 15px">
                                <span style="display: inline-block; padding-left: 15px; vertical-align: top; color: #f4f4f4; font-size: 20px;">
                                    <span style="font-size: 12px; text-transform: uppercase; font-weight: 600; padding-top:5px; display: inline-block;">RoyalEnfield</span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding:40px 20px 0px 20px;">
                            <h1 style="font-weight: 300;">
                                Hi
                                <%= data.fname %>
                                    <%= data.lname %>
                            </h1>
                            <div style="font-size:24px;">
                                <p>ThankYou for registering with us as
                                    <%= data.userType %>
                                        <br />
                                        <br />Enjoy using Royal Enfield Online Services !!.</p>
                            </div>

                            <p style="margin:60px 0 40px 0; font-size: 18px;">Thanks
                                <br /> Team RoyalEnfield</p>
                            <h1 style="text-align: center; font-weight: 300; font-size: 50px; margin:0;">

                            </h1>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div style="background:  rgb(40, 207, 219); height: 30px; width: 100%; position: absolute;text-align:center; padding-top: 10px;">
                                <a href="https://techchefz.com" style="color:#ddd">Contact Us</a>
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

    </table>
</body>

</html>